/* widths */
/* colors */
/* nav */
a {
  text-decoration: none; }

.sidebar {
  width: 100%;
  float: left;
  padding: 0;
  margin: 10px; }

.wl-nav {
  padding: 10px 0; }

.wl-navborder {
  position: relative;
  border: 1px solid transparent;
  -webkit-border-image: url("../../images/ui/cat-nav-border-image.png") 1 1 round;
  /* Safari 5 */
  -o-border-image: url("../../images/ui/cat-nav-border-image.png") 1 1 round;
  /* Opera */
  border-image: url("../../images/ui/cat-nav-border-image.png") 1 1 round;
  margin: 10px 0; }

.promo1 {
  width: 230px;
  height: 230px; }

.nav-title {
  font-family: Georgia;
  font-style: italic;
  font-size: 14px;
  position: absolute;
  top: -10px;
  width: 100%;
  text-align: center; }
  .nav-title span {
    background: white;
    padding: 0 5px; }

ul.wl-ui-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  text-transform: uppercase; }
  ul.wl-ui-list .arrow {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
    background-image: url("../../images/ui/sprite-sheet.png");
    width: 7px;
    height: 4px;
    background-position: 7px 7px; }
  ul.wl-ui-list .openarrow {
    background-position: 0px 0px; }
  ul.wl-ui-list .openarrow.pinkarrow {
    background-position: -7px 0px; }
  ul.wl-ui-list a {
    display: block;
    padding: 8px 20px;
    line-height: 16px;
    color: #7f7f7f; }
  ul.wl-ui-list a:hover {
    background: #f7f7f7;
    color: #3e3e3e; }
  ul.wl-ui-list li.active-cat > a {
    color: #3e3e3e; }
  ul.wl-ui-list li.active-sub > a {
    color: #eb5190; }
  ul.wl-ui-list ul.wl-sub a {
    padding-left: 30px; }
  ul.wl-ui-list ul.wl-sub .wl-sub2 a {
    padding-left: 40px; }

/* product group */
.wl-product-group--grid {
  margin: 0;
  list-style: none; }

.wl-product-group--grid .wl-product {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 10px;
  width: 250px;
  min-height: 460px;
  _height: 460px;
  float: left;
  border-bottom: 1px dotted #A8A8A8; }

.wl-product-group--grid .wl-product .media {
  margin: 0 0 6px;
  width: 240px;
  height: 300px;
  border-bottom: 1px dotted #A8A8A8;
  overflow: hidden; }

.wl-product-group--grid .wl-product .media a {
  display: block; }

.wl-product-group--grid .wl-product .media a img {
  display: block; }

.wl-product-group--grid .wl-product .info {
  padding: 0 20px 0 0; }

.wl-product-group--grid .wl-product .info .wl-swatches {
  margin: 0 0 6px; }

.wl-product-group--grid .wl-product .info .name {
  margin: 0 0 1px;
  font-size: 1.167em; }

.wl-product-group--grid .wl-product .info .description {
  margin: 0;
  line-height: 1.5; }

.wl-product-group--grid .wl-product .info .prices {
  margin: 0 0 4px;
  font-size: 1.333em;
  font-weight: bold;
  text-transform: uppercase; }

.wl-product-group--grid .wl-product .info .prices .price {
  display: inline;
  margin: 0; }

.wl-product-group--grid .wl-product .info .prices .price--original {
  font-weight: normal; }

.wl-product-group--grid .wl-product .info .prices .price--sale {
  color: #C54551; }

.wl-product-group--grid .wl-product .wl-action {
  display: none;
  position: absolute;
  margin: 0 0 0 -90px;
  width: 180px;
  left: 50%;
  top: 40%; }

.wl-product-group--grid .wl-product .wl-action .wl-button {
  width: 180px;
  *width: 130px;
  background: #fff; }

.wl-product-group--grid .wl-product:hover .wl-action {
  display: block; }

.js {
  display: none; }

/* Swipe 2 required styles */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.promo1 swipe div b {
  display: block;
  font-weight: bold;
  color: #14ADE5;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6; }

.swipe-position li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #141414;
  box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
  margin: 0 2px;
  cursor: pointer; }

.swipe-position li.on {
  box-shadow: inset 0 1px 3px -1px #28b4ea, 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #1293dc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1293dc), color-stop(100%, #0f6297));
  background-image: -webkit-linear-gradient(top, #1293dc, #0f6297);
  background-image: -moz-linear-gradient(top, #1293dc, #0f6297);
  background-image: -ms-linear-gradient(top, #1293dc, #0f6297);
  background-image: -o-linear-gradient(top, #1293dc, #0f6297);
  background-image: linear-gradient(top, #1293dc, #0f6297); }

ul.swipe-position {
  margin: 0 auto;
  padding: 0;
  text-align: center; }

/* color swatches */
