/* widths */
$navwidth: 230px;
$navtitle: 80px;

/* colors */
$styled-border1: url('../../images/ui/cat-nav-border-image.png');
$styled-border2: url('../../images/ui/aside-news-bg.png');
$sprites: url('../../images/ui/sprite-sheet.png');
$fpp-darkgrey: #3e3e3e;
$fpp-medgrey: #7e7e7e;
$fpp-magenta: #ff008a;
$fpp-background: #ffffff;

/* fonts */

@mixin scriptfont {
    font-family: 'Georgia', serif;
    font-style:italic;
}

@mixin sansreg{
    font-family: 'Lato', sans-serif;
    font-weight:normal;
}

@mixin sansthin {
    font-family: 'Lato', sans-serif;
    font-weight:300;
}

/* cross-browser */

@mixin sb1($th){ /*thickness argument*/

    border: $th+px solid transparent;
    -webkit-border-image:$styled-border1 $th $th round; /* Safari 5 */
    -o-border-image:$styled-border1 $th $th round; /* Opera */
    border-image:$styled-border1 $th $th round;
}
@mixin sb2($th){ /*thickness argument*/

    border: $th+px solid transparent;
    -webkit-border-image:$styled-border2 $th $th round; /* Safari 5 */
    -o-border-image:$styled-border2 $th $th round; /* Opera */
    border-image:$styled-border2 $th $th round;
}

/* nav / asides */

a{
    text-decoration:none;
}
h2.aside-h{
    @include scriptfont;
    font-size:12px;
    text-transform:uppercase;
    font-weight:100;
    letter-spacing:1px;
}
.wl-navborder{
    position:relative;
    @include sb1(1);
    margin:10px 0;
}
.nav-title{

    width: $navwidth;
    @include scriptfont;
    font-size:14px;
    text-align: center;
    position: absolute;
    top: -10px;
    z-index:100;
    span{
        background:$fpp-background;
        padding:0 5px;
        z-index:5px;
    }
}
ul.wl-ui-list{
    @include sansreg;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding:0;
    list-style-type: none; 
    .arrow{
        background-image: $sprites;
        background-position:7px 7px;
        display:inline-block; 
        width:7px; height:4px;
        position:relative; 
        top: -2px;
        left:5px;
    }
    .active-cat>a>.arrow{
        background-position: -7px 0px;
    }
    .active-parent>a>.arrow{
        background-position: 0px 0px;
    }
    a{
        display:block;
        padding:8px 20px;
        line-height:16px;
        color:#7f7f7f;
    }
    a:hover{
        background:#f7f7f7;
        color:$fpp-darkgrey;
    }
    
    li.active-cat>a{
        color:#eb5190;
    }
    li.active-parent>a{
        color:$fpp-darkgrey;
    }
    ul.wl-sub{
        a{
            padding-left:30px;
        }
        .wl-sub2{
            a{
                padding-left:40px;
            }
        }
    }
}
ul.wl-nav{
    padding:10px 0 0 0;
}

/* newsletter */
.wl-asidenews:before{
    content: '';
    display:block;
    width:52px;
    height:31px;
    background:$sprites;
    background-position:0px -4px;
    position:absolute;
    top:100px;
    left:-19px;
}
.wl-asidenews{
    @include sb2(2);
    position:relative;
    margin:10px 0;
    text-align:center;
    padding:18px;
    h2.aside-h{
         color: $fpp-magenta;
         margin:0;
    }
    p{
        @include sansreg;
        text-transform:lowercase;
        color:$fpp-darkgrey;
        font-size:11px; line-height:20px;
        margin:0; font-weight:300;
        letter-spacing:1px;
    }
    input{
        display:inline-block;
        clear:both;
        margin:10px 0 0 0;
    }
    input[type=text]{
        @include scriptfont;
        color:#bfbfbf;
        font-size:12px; 
        width:170px;
        padding:7px 10px;
    }
    input[type=submit]{
        color:white;
        @include sansreg;
        font-weight:500;
        padding:8px 18px;
        font-size:11px;
        cursor:pointer;
        background: $fpp-magenta;
        @include sb2(1);
    }
}

/* Swipe 2 required styles */
.wl-swipe{
    width:230px;
    padding-top:7px;
    margin-bottom:20px;
    nav{
        position: absolute;
        width:100%;
        bottom:-16px;
    }
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
    height:260px;
}
.wl-swipe swipe div b{
    display:block;
    height:260px;
    font-weight:bold;
    color:#14ADE5;
    font-size:20px;
    text-align:center;
    margin:10px;
    padding:100px 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}
.swipe-position li {
    display: inline-block; cursor: pointer;
    width: 6px; height: 6px; border-radius: 6px;
    background: #ccc;
    margin: 0 2px;
}
.swipe-position li.on {
    background-color: #ff4c96;
}
ul.swipe-position{
    margin:0 auto; padding:0; text-align:center;
}


/* / / Product Grid / / */
.wl-product-group--grid {
    margin: 0;
    list-style: none;
    padding:0;
    .wl-product {
        position: relative;
        margin: 0 0 5px 0;
        padding: 0 0;
        width: 241px;
        min-height: 400px;
        _height: 400px;
        display:block;
        float: left;
        .media {
            margin: 0 0 6px;
            width: 236px;
            height: 314px;
            overflow: hidden;
            a {
                display: block;
                img {
                    display: block;
                }
            }
        }

        .info{
            padding: 0 20px 0 0;
            .wl-swatches {
                margin: 0 0 6px;
            }
            h2.name {
                margin: 0 0 1px;
                font-size: 13px;
                font-weight:normal;
                letter-spacing:1px;
      
                a{
                    font-family: 'Georgia', serif;
                    color:$fpp-darkgrey;
                }
            }
            .description {
                margin: 0;
                line-height: 1.5;

            }
            .prices {
                margin: 0 0 4px;
                font-size: 14px;
                text-transform: uppercase;
                color:$fpp-medgrey;
                @include sansthin;
                .price {
                    display: inline;
                    margin: 0;
                }
                .price--original {
                }
                .price--sale {
                      color: #C54551;
                }
            }
        }   
        .wl-action {
            $width: 236px;
            height:314px;
            display: none;
            position: absolute;
            margin: 0;
            background:rgba(255,255,255,.15);
            width: $width;
            left: 0;
            top: 0;
            .wl-button {
                width: 30px;
                height:30px;
                background-image: $sprites;
                background-position:0px -35px;
                position:absolute;
                bottom:4px;
                right:4px;
                overflow:hidden;
                text-indent:-9999px;
            }
            .wl-video{
                width:25px;
                height:25px;
                bottom:auto; right:auto;
                top:10px; left:10px;
                background-position:-60px -35px;
            }
            .wl-button:hover{
                background-position:-30px -35px;
            }
            .wl-video:hover{
                background-position:-85px -35px;
            }
        }
        &:hover {
            .wl-action {
                display: block;
            }
        }
    }
}

/* Color swatches */
.wl-product-swatches{
    display:inline;    
    list-style-type:none;
    width:20px; padding:0;
    li{
        display:inline-block;
        margin:0; padding:0;
        cursor:pointer;
    }
     div.addl{
        color:#eb5190;
        @include sansreg;
        font-weight:bold;
        font-size:10px;
        display:inline-block;
        position:relative; top:-5px; 
    }
}

/* Refinements */
.wl-refinements{
    position:relative;
    width:100%;
    height:40px;
    background: $sprites;
    background-position:0 -89px;
    background-repeat:repeat-x;
    form{
        position:absolute;
        top:0;
        left:0;
        background:$fpp-background;
        padding:0 5px;
        select{
            -moz-appearance:none;
            -webkit-appearance: none;
            padding:5px;
            width:150px;
            background: transparent $sprites;
            background-position: 0px -65px;
            @include scriptfont;
            color:$fpp-medgrey;
        }
    }
    .refine-results{
        position:absolute;
        bottom:0;
        right:0;
        height:40px; line-height:40px;
        padding:0 10px 0 5px;
        background:$fpp-background;
        font-size:14px;
        @include scriptfont;
        color:$fpp-medgrey;
        font-size:12px;
    }
}
/* Layout Containers */

.sidebar{
    width:$navwidth;
    float:left;
    padding:0;
    margin:10px;
}
.product-container{
    margin:0;
    padding-left:250px;
    min-width:730px;
}
.js{
    display:none;
}