
// ==========================================================================
// widths
// ==========================================================================

$navwidth: 230px;
$navtitle: 80px;


// ==========================================================================
// colors
// ==========================================================================

$styled-border1: url('../../images/ui/cat-nav-border-image.png');
$styled-border2: url('../../images/ui/aside-news-bg.png');
$sprites: url('../../images/ui/sprite-sheet.png');
$fpp-darkgrey: #3e3e3e;
$fpp-medgrey: #7e7e7e;
$fpp-magenta: #ff008a;
$fpp-background: #ffffff;


// ==========================================================================
// fonts
// ==========================================================================

@mixin scriptfont {
    font-family: 'Georgia', serif;
    font-style: italic;
}
@mixin sansreg {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
@mixin sansthin {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


// ==========================================================================
// cross-browser
// ==========================================================================

@mixin border_style_1($thickness) { 

    border: $thickness+px solid transparent;
    -webkit-border-image: $styled-border1 $thickness $thickness round; /* Safari 5 */
    -o-border-image: $styled-border1 $thickness $thickness round; /* Opera */
    border-image: $styled-border1 $thickness $thickness round;
}
@mixin border_style_2($thickness) { 

    border: $thickness+px solid transparent;
    -webkit-border-image: $styled-border2 $thickness $thickness round; /* Safari 5 */
    -o-border-image: $styled-border2 $thickness $thickness round; /* Opera */
    border-image: $styled-border2 $thickness $thickness round;
}


// ==========================================================================
// global
// ==========================================================================

a {
    text-decoration:none;
}

// ==========================================================================
// nav/asides
// ==========================================================================


.wl-ht-box {
    position: relative;
    margin: 10px 0;
    @include border_style_1(1);

    .nav-title {
        position: absolute;
        z-index: 100;
        top: -10px;
        width: $navwidth;
        @include scriptfont;
        font-size: 14px;
        text-align: center;
        span{
            z-index: 5px;
            padding: 0 5px;
            background: $fpp-background;
        }
    }
}
.wl-ui-list {
    margin: 0;
    padding: 0;
    @include sansreg;
    font-size: 10px;
    text-transform: uppercase;
    list-style-type: none; 
    .arrow {
        display: inline-block; 
        position: relative;
        top: -2px;
        left: 5px;
        width: 7px; height: 4px;
        background-image: $sprites;
        background-position: 7px 7px;
        &.is_enhanced {
            display:none;
        }
    }
    .active-cat>a>.arrow {
        display:inline-block;
        background-position: -7px 0px;
    }
    .active-parent>a>.arrow {
        display:inline-block;
        background-position: 0px 0px;
    }
    a {
        display: block;
        padding: 8px 20px;
        line-height: 16px;
        color: #7f7f7f;
    }
    a:hover {
        color: $fpp-darkgrey;
        background: #f7f7f7;
    }
    .active-cat>a {
        color: #eb5190;
    }
    .active-parent>a {
        color: $fpp-darkgrey;
    }
    .wl-sub {
        &.is_enhanced {
            display:none;
        }
        a {
            padding-left:30px;
        }
        .wl-sub2 {
            &.is_enhanced {
                display:none;
            }
            a {
                padding-left:40px;
            }
        }
    }
}
.wl-nav {
    padding: 10px 0 0 0;
}


// ==========================================================================
// wl-asidenews
// ==========================================================================

.wl-asidenews {
    position: relative;
    margin: 10px 0;
    padding: 18px;
    text-align: center;
    @include border_style_2(2);
    .aside-h {
         margin: 0;
         color: $fpp-magenta;
         @include scriptfont;
         font-size:12px;
         text-transform:uppercase;
         font-weight:200;
         letter-spacing:1px;
    }
    p {
        margin: 0; 
        @include sansreg;
        text-transform: lowercase;
        color: $fpp-darkgrey;
        font-size: 10px; 
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    input {
        display: inline-block;
        margin: 10px 0 0 0;
        clear: both;
    }
    input[type=text] {
        padding: 7px 10px;
        width: 170px;
        @include scriptfont;
        color: #bfbfbf;
        font-size: 12px; 
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100px;
        left: -19px;
        width: 52px;
        height: 31px;
        background: $sprites;
        background-position: 0px -4px;
    }
}
// ==========================================================================
// form elements
// ==========================================================================

.wl-submit-button1 {
    padding: 8px 18px;
    color: white;
    @include sansreg;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    background: $fpp-magenta;
    @include border_style_2(1);
    cursor: pointer;
}

// ==========================================================================
// wl-swipe
// ==========================================================================
.wl-swipe {
    padding-top: 7px;
    margin-bottom: 20px;
    width: 230px;
    nav {
        position: absolute;
        bottom: -16px;
        width: 100%;
    }
    .swipe {
        position: relative;
        width:230px;
        height:260px;
        overflow-x:scroll;
        &.is_enhanced{
            visibility: hidden;
            overflow: hidden;
        }
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
        > div {
            position: relative;
            width: 100%;
            height: 260px;
            float: left;
        }
    }
    .swipe-position {
        margin: 0 auto; 
        padding: 0; 
        text-align: center;
        li {
            display: inline-block; 
            margin: 0 2px;
            width: 6px; 
            height: 6px; 
            background: #ccc;
            border-radius: 6px;
            cursor: pointer;
            &.on {
                background-color: #ff4c96;
            }
        }
    }
}


// ==========================================================================
// wl-product-group--grid
// ==========================================================================
.wl-product-grid {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wl-product {
    position: relative;
    margin: 0 0 5px 0;
    padding: 0 0;
    width: 241px;
    min-height: 400px;
    _height: 400px;
    display: block;
    float: left;
    .media {
        margin: 0 0 6px;
        width: 236px;
        height: 314px;
        overflow: hidden;
        a {
            display: block;
            img {
                display: block;
            }
        }
    }
    .info {
        padding: 0 20px 0 0;
        .wl-swatches {
            margin: 0 0 6px;
        }
        .name {
            margin: 0 0 1px;
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 1px; 
            a {
                font-family: 'Georgia', serif;
                color: $fpp-darkgrey;
            }
        }
        .description {
            margin: 0;
            line-height: 1.5;

        }
        .prices {
            margin: 0 0 4px;
            font-size: 14px;
            text-transform: uppercase;
            color: $fpp-medgrey;
            @include sansthin;
            .price {
                display: inline;
                margin: 0;
            }
            .price--original {
            }
            .price--sale {
                color: #C54551;
            }
        }
    }   
    .wl-action {
        $width: 236px;
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        height: 314px;
        width: $width;
        background: rgba(255,255,255,.15);
        .wl-button {
            position: absolute;
            bottom: 4px;
            right: 4px;
            width: 30px;
            height: 30px;
            overflow: hidden;
            text-indent: -9999px;
            background-image: $sprites;
            background-position: 0px -35px;
        }
        .wl-video{
            bottom: auto; 
            right: auto;
            top: 10px; 
            left: 10px;
            width: 25px;
            height: 25px;
            background-position: -60px -35px;
        }
        .wl-button:hover{
            background-position: -30px -35px;
        }
        .wl-video:hover{
            background-position: -85px -35px;
        }
    }
    &:hover {
        .wl-action {
            display: block;
        }
    }
}

// ==========================================================================
// wl-product-swatches
// ==========================================================================
.wl-product-swatches {
    display: inline;    
    width: 20px;
    padding: 0;
    list-style-type: none;
    li {
        display: inline-block;
        margin: 0; 
        padding: 0;
        cursor: pointer;
    }
    .addl {
        display: inline-block;
        position: relative; 
        top: -5px; 
        color: #eb5190;
        @include sansreg;
        font-weight: bold;
        font-size: 10px;
    }
}

// ==========================================================================
// wl-refinements
// ==========================================================================

.wl-refinements {
    position: relative;
    width: 100%;
    height: 40px;
    background: $sprites;
    background-position: 0 -89px;
    background-repeat: repeat-x;
    form {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 5px;
        background: $fpp-background;
        .refine-select {
            position: relative;
            -moz-appearance: none;
            -webkit-appearance: none;
            margin: 10px 0;
            padding: 5px;
            width: 150px;
            background: transparent $sprites;
            background-position: 0 -65px;
            @include border_style_1(1);
            @include scriptfont;
            color: $fpp-medgrey;
        }
        .refine-submit {
            &.is_enhanced {
                display:none;
            }
        }
    }
    .refine-results {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 10px 0 5px;
        height: 40px; 
        line-height: 40px;
        @include scriptfont;
        color: $fpp-medgrey;
        font-size: 12px;
        background: $fpp-background;
        &.is_enhanced {
            display: block;
        }
    }
}

// ==========================================================================
// wl-layout
// ==========================================================================
.wl-layout {
    .sidebar {
        padding: 0;
        margin: 10px;
        width: $navwidth;
        float: left;
    }
    .product-container {
        margin: 0;
        padding-left: 250px;
        min-width: 730px;
    }
}